**/CalculatorTech/CalculatorTech/bin
**/CalculatorTech/CalculatorTech/obj
**/CalculatorTech/.vs
**/CalculatorTech/CalculatorTech/CalculatorTech.csproj.user
CalculatorTech/.vs/CalculatorTech/v17/.suo

