
<h2>Tabela de distribuição de frequência</h2>
<br>
<br>
<p class="font-weight-normal">Insira os números de entrada para a criação da tabela de frequência:</p>
<br>

<form asp-action="Calcular">

	<partial name="_LinhaGridEntradaValores"/>

	<partial name="_LinhaGridEntradaValores"/>

	<partial name="_LinhaGridEntradaValores"/>

	<partial name="_LinhaGridEntradaValores"/>

	<partial name="_LinhaGridEntradaValores"/>

	<div class="form-group">
            <input type="submit" value="Calcular" class="btn btn-primary" />
    </div>

</form>