<div class="row linhasGrid">
	    <div class="col-1">
			<input name="valor[]" class="form-control entradaValores" />
	    </div>
	    <div class="col-1">
		    <input  name="valor[]" class="form-control entradaValores" />
	    </div>
	    <div class="col-1">
		    <input name="valor[]" class="form-control entradaValores" />
	    </div>
	    <div class="col-1">
		    <input  name="valor[]" class="form-control entradaValores" />
	    </div>
	    <div class="col-1">
		    <input  name="valor[]" class="form-control entradaValores" />
	    </div>
</div>