<div class="row linhasGrid">
	@{
		var numeroColunasGrid = 5;
		for (int coluna = 1; coluna <= numeroColunasGrid; coluna++ )
		{
			ViewData["coluna"] = coluna;
			<partial name="_EntradaValor" view-data="ViewData"/>
		}	
	}
</div>